{% extends 'base.html' %}
{% block titulo %}
<h1>Acerca de las estadísticas</h1>
{% endblock %}
{% block contenido %}
<p>El objetivo de esta página es exponer la información recopilada sobre las emisiones emitadas de CO2 (principal gas de
    efecto invernadero como consecuencia de las actividades industriales) para concientizar sobre lo daniño que es el
    dióxido de carbono en nuestro ambiente. Específicamente, se muestran los 10 países con mayor cantidad de emisiones
    de carbono per capita y en total; como también las emisiones de cada país.</p>
{% endblock %}